/** 

    TEMPLATE ANSWERMESSAGE

*/

.device__contentAnswerMessage {
    position: relative;
    width: auto;
    max-width: 26rem;
    padding: 0.8rem;
    margin: 3.2rem 1.6rem 0 calc(100% - (26rem));
    border-radius: 0.5rem;
    background-color: $main-color;
}

.device__contentAnswerMessage p {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: $answer;
}

.device__contentAnswerMessage .hour {
    position: absolute;
    bottom: -2.2rem;
    right: 0;
    font-family: $main-font;
    font-size: 10px;
    line-height: 2.0;
    text-align: left;
    color: $message-hour;
}