/** 

    TEMPLATE ANSWERMESSAGE

*/

.device__contentAnswerMessage {
    position: relative;
    width: auto;
    max-width: 26rem;
    padding: 0.8rem;
    margin: 3.2rem 1.6rem 0 calc(100% - (26rem));
    border-radius: 0.5rem;
    background-color: $main-color;
}

.device__contentAnswerMessage p {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: $answer;
}

.device__contentAnswerMessage .hour {
    position: absolute;
    bottom: -2.2rem;
    right: 0;
    font-family: $main-font;
    font-size: 10px;
    line-height: 2.0;
    text-align: left;
    color: $message-hour;
}

.device__answers {
    position: absolute;
    width: 100%;
}

.device__contentTypeAnswerWrapper {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background: rgb(238, 238, 238);
    top: 0;
}

.device__contentTypeAnswerWrapper--messageArea {
    display: inline-block;
    width: 80%;
    height: auto;
    min-height: 40px;
    margin: 10px 10px;
    padding: 10px 10px;
    background: rgb(187, 187, 187);
    position: relative;
    vertical-align: top;
}

.device__contentTypeAnswerWrapper--messageAreaButton {
    display: inline-block;
    background: rgb(58, 22, 185);
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    vertical-align: top;
    cursor: pointer;
}

.displayNone {
    display: none;
}