.device__answersGif, .device__answersEmoji {
    position: fixed;
    bottom: 5rem;
    left: 0;
    width: 100vw;
    height: 0rem;
    border-top: $border-answer;
    background-color: $white;
}
.device__answersText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.device__answersBar {
    left: 50%;
    top: 1rem;
    width: 100%;
    height: auto;
    font-size: 14px;
    background-color: $bar;
    cursor: pointer;
}

.post:last-child {
    margin-bottom: 20rem;
}

.post:first-child {
    margin-top: 10rem;
}

.device__answersText {
    display: none;
}

.device__answersGif {
    display: none;
}

.device__answersEmoji {
    display: none;
}

.is-active {
    display: block;
    height: 13rem;
}
