/** 

    TEMPLATE APPMESSAGE

*/

.device__contentAppMessage {
    position: relative;
    width: auto;
    max-width: 26rem;
    padding: 0.8rem;
    margin: 3.2rem calc(100% - (26rem)) 0 1.6rem;
    border-radius: 0.5rem;
    background-color: $grey;
}

.device__contentAppMessage p {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: $message;
}

.device__contentAppMessage .hour {
    position: absolute;
    bottom: -2.2rem;
    left: 0;
    font-family: $main-font;
    font-size: 10px;
    line-height: 2.0;
    text-align: left;
    color: $message-hour;
}