.device__results {
    display: flex;
    justify-content: center;
}

.device__resultsContent {
    padding: 12rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    max-width: 34rem;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-family: $main-font;
        font-size: 30px;
        text-align: center;
        color: #000000;
    }
}

.device__results--circle {
    margin-top: 1.6rem;
    margin-bottom: 5.6rem;
    position: relative;
    width: 136px;
    height: 136px;
    border: solid 8px $main-color;
    border-radius: 400px;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $main-font;
        font-size: 36px;
        text-align: center;
        color: #000000;
    }
}

.device__resultsContent--case {
    .wrong {
        &:before {
            content: url('../img/wrong.svg');
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    .true {
        &:before {
            content: url('../img/true.svg');
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}

.device__resultsContent--case .cases {
    position: relative;
    padding: 16px 8px;
    width: 95%;
    margin: auto;
    height: auto;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgba(54, 56, 62, 0.12);
    margin-bottom: 3.6rem;

    h4 {
        width: 95%;
        font-family: $main-font;
        font-size: 20px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 2.7rem;
    }

    p {
        font-family: $main-font;
        font-size: 14px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
    }
}

// CTA

.device__resultsContent--btn {
    width: 30rem;
    height: 4.8rem;
    border-radius: 5px;
    background-color: $main-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    @media (max-width: $lg) {
        position: static;
    }
}

.device__resultsContent--btn .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {

        span {
            width: 425%;
            height: 862.5px;
        }
        
        a {
            color: $white;
        }
    }

    span {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        z-index: $zindex-2;
        background-color: $main-color-darker;
        -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

.device__resultsContent--btn a {
    position: relative;
    z-index: $zindex-3;
    width: 100%;
    padding: 14px 0px;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}