.device__contentTypeAnswerWrapper.displayNone
    p.device__contentTypeAnswerWrapper--messageArea
    .device__contentTypeAnswerWrapper--messageAreaButton
.device__answersText
    .device__answersBar
.device__answersGif
    .device__answersBar
.device__answersEmoji
    .device__answersBar