.device__answersText
    .device__answersBar
.device__answersGif
    .device__answersBar
    .device__answersGifInput
        img(src='assets/img/bg.jpg')/
    .device__answersGifInput
        img(src='assets/img/bg.jpg')/
.device__answersEmoji
    .device__answersBar