.device__contentTypeAnswerWrapper.displayNone
    p.device__contentTypeAnswerWrapper--messageArea
    .device__contentTypeAnswerWrapper--messageAreaButton
.device__answersText
    .device__answersBar
    .device__answersTextInput
        p ton text ton text ton text ton text ton text ton text ton text ton text
        .icon-right-arrow
    .device__answersTextInput
        p ton text ton text ton text ton text ton text ton text ton text ton text
        .icon-right-arrow
.device__answersGif
    .device__answersBar
.device__answersEmoji
    .device__answersBar