.device__answersText
    .device__answersBar
    .device__answersTextInput
        p ton text ton text ton text ton text ton text ton text ton text ton text
        .icon-right-arrow
    .device__answersTextInput
        p ton text ton text ton text ton text ton text ton text ton text ton text
        .icon-right-arrow
.device__answersGif
    .device__answersBar
    .device__answersGifInput
        img(src='assets/img/bg.jpg')/
    .device__answersGifInput
        img(src='assets/img/bg.jpg')/
.device__answersEmoji
    .device__answersBar
    .device__answersEmojiInput
        img(src='assets/img/face-with-rolling-eyes_1f644.png')/
    .device__answersEmojiInput
        img(src='assets/img/face-with-tears-of-joy_1f602.png')/
    .device__answersEmojiInput
        img(src='assets/img/astonished-face_1f632.png')/