<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>LePoidsDesMots</title>
    <meta name="description" content="" />

    <!-- Links -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
  </head>

    body
        section.device
            header.device__header
                include header
            .device__settings
                include settings
            .device__content
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAnswerMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAnswerImage.post
                    img(src='assets/img/bg.jpg')/
                    .hour 10:20
                    .overlay
                    p Voir en grand
                    .icon-close
                .device__contentAppImage.post
                    img(src='https://media.giphy.com/media/NTY1kHmcLsCsg/giphy.gif')/
                    .hour 10:20
                    .overlay
                    p Voir en grand
                    .icon-close
                .device__contentAnswerImage.post
                    img(src='https://media.giphy.com/media/3oxHQlgaA48kAfw2Dm/giphy.gif')/
                    .hour 10:20
                    .overlay
                    p Voir en grand
                    .icon-close
            .device__answers
                include answers
            footer.device__footer
                include footer
        <script src="assets/js/bundle.js"></script>
</html>
