<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")/
        meta(http-equiv="X-UA-Compatible" content="IE=edge")/
        meta(name="viewport" content="width=device-width, initial-scale=1")/

        title LePoidsDesMots
        meta(name="description" content="")/

        // Links
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")/
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")/
        link(href="assets/css/app.min.css" rel="stylesheet" type="text/css")/
        link(rel="shortcut icon" type="image/png" href="assets/img/favicon.png")/

    body
        .displayFlex
            section.device
                header.device__header
                    include header
                .device__settings
                    include settings
                .device__content
                .device__answers
                    include answers
                footer.device__footer
                    include footer
            audio(class="notif")
                source(src="assets/sounds/not-bad.mp3" type="audio/mpeg")
            audio(class="send")
                source(src="assets/sounds/sent.ogg"  type="audio/ogg")
        script(src="assets/js/bundle.js")