.home__conversationContent
    .home__conversationContent--title Conversation avec Jade
    .home__conversationContent--title2 une jeune collégienne
    p Aujourd’hui Jade, se rend dans son nouveau collège pour la première fois. A la première heure de cours, elle sent déjà les premiers regards se poser sur elle. 
    br
    br
    p Qui est-elle ? D'où vient elle ? 

.home__conversationPicture
    img(src="assets/img/conversation.png")/