.home__conversationContent
    .home__conversationContent--title Conversation avec Jade
    .home__conversationContent--title2 une jeune collégienne
    p Aujourd’hui Jade, se rend dans son nouveau collège pour la première fois. Elle est fatiguée parce qu’elle n’a pas beaucoup dormi cette nuit. Elle est anxieuse mais à la fois heureuse et excitée par ce nouveau départ. Ce sentiment, elle le connait très bien puisque c’est déjà la 3ème fois qu’elle change d’école.
    br
    br
    p A la première heure de cours, elle sent déjà les premiers regards se poser sur elle.
    p Qui est-elle ? D'où sort-elle ? 
    p En effet, c’est peu commun de rejoindre un nouveau collège en milieu d’année. Mais pas le choix, son père, militaire, est obligé de se déplacer de casernes en casernes. 
.home__conversationPicture