.device__headerStatus
    .device__headerStatus--wifi
       p.icon-wifi
    .device__headerStatus--network
       p.icon-network
    .device__headerStatus--battery
       p.icon-battery
    .device__headerStatus--time
       p 10:00
.device__headerProfil
    .device__headerProfil--picture
        .jade 
            img(src='assets/img/pp.jpg')/
    .device__headerProfil--info
        p.name Jade Huang
        p.status Active
    .device__headerProfil--settings
        p.icon-settings