.home__headerContainer--bg
.home__headerContent
    .home__headerContent--burger
        .bar1
        .bar2
        .bar3 
    .home__headerContent--burgerContent
        ul
            li: a(href="#" target="_blank") Accueil 
            li: a(href="app.html" target="_blank") L'expérience
            li: a(href="#" target="_blank") Contact
    .home__headerContent--menu
        a(href="#" target="_blank") Accueil 
        a(href="app.html" target="_blank") L'expérience
        a(href="#" target="_blank") Contact
    .home__headerContent--intro
        h1 Le poids des mots
        a(href="app.html" target="_blank") Démarrer la conversation
        .home__headerContent--phone
            img(src='assets/img/phone.png')/
        p Le poids des mots est une expérience qui raconte la vie de Jade, jeune collégienne de 4ème qui vient de changer d’établissement. Moment difficile dans la vie d’une jeune fille qui va devoir se refaire des amis et surpasser les difficultés qui se dresseront devant elle. Comment va-t'elle s’en sortir ? Découvrez le en incarnant son/sa meilleur(e) ami(e) en cliquant sur “Commencer la conversation avec Jade”.
.overlay