<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    <meta name="description" content="" />

    <!-- Links -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
  </head>

    body
        section.device
            header.device__header
                include header
            .device__settings
                include settings
            .device__content
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAnswerMessage.post
                    p Lorem ipsum dolor orem ipsum dolor 
                    .hour 10:20 
                .device__contentAnswerMessage.post
                    p Lorem ipsum dolor orem ipsum dolor 
                    .hour 10:20
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAnswerMessage.post
                    p Lorem ipsum dolor orem ipsum dolor 
                    .hour 10:20 
                .device__contentAnswerMessage.post
                    p Lorem ipsum dolor orem ipsum dolor 
                    .hour 10:20
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:20
                .device__contentAppMessage.post
                    p Lorem ipsum dolor orem ipsum dolor  
                    .hour 10:21
            .device__answers
                include answers
            footer.device__footer
                include footer
        <script src="assets/js/bundle.js"></script>
</html>
