.home__presentationPicture
    img(src="assets/img/screenshot.png")/
.home__presentationContent
    .home__presentationContent--title Vous êtes son
    .home__presentationContent--title2 interlocuteur
    p Le poids des mots est un ‘Serious game’.
    br
    br
    p Rappelant les messageries instantanée, le jeu vous plonge au coeur d’une histoire aussi prenante que sérieuse.  Chaque décision impact directement l’histoire de manière positive ou négative. A vous de décider de la tournure que prendra cette dernière. 



