.home__presentationPicture
.home__presentationContent
    .home__presentationContent--title Vous êtes son
    .home__presentationContent--title2 interlocuteur
    p Jade le poids des mots est une expérience du type ‘ »Serious game”. Les mécaniques de jeu sont simples, le joueur a des choix de discussion à faire pour faire progresser l’histoire.
    br
    br
    p Le joueur sera en discussion avec Jade grâce à une interface rappelant les messageries instantanées tel que messenger. A chaque décision, des évènements différents se produisent et il n’y a aucun moyen de retourner en arrière, si ce n’est recommencer le jeu. De cette manière, le joueur est impliqué dans la vie de l'héroïne et devra l’aider du mieux qu’il le peut. Régulièrement, Jade vous demandera conseil, comment interagir avec autrui ou vers qui se tourner pour avoir une aide plus grande.
