.home__sensibilisationContent
    .home__sensibilisationContent--titles
        .home__sensibilisationContent--title Sensibiliser aux dangers
        .home__sensibilisationContent--title2 du cyber-harcèlement
    .home__sensibilisationContent--stats
        .home__sensibilisationContent--stats40
            div 40%
            p des jeunes de 13-17 ans sont victimes de cyber harcèlement sur les e-medias, dont 20% par message.
        .home__sensibilisationContent--stats60
            div 60%
            p des harceleurs affirment avoir été ou être aux même harcelés.
        .home__sensibilisationContent--stats4
            div 3
            p suicides par an suite au cyber harcèlement.
.home__sensibilisationContainer
    .home__sensibilisationContainer--picture
        img(src="", alt="")
    div 
        span Le poids des mots
        p permet aux utilisateurs de prendre conscience des dangers du cyber-harcèlement. Destiné aux adolescents de 13 à 17 ans, le ‘jeu’ montre ainsi que tout le monde peut être touché. Jade n’est pas qu’un simple personnage ficitf, elle peut être dans n’importe qu’elle famille, groupe d’amis…
