.device__settingsHeader
    .device__settingsHeader--back.icon-left-arrow
    .device__settingsHeader--title
        p Réglages
.device__settingsContainer
    .device__settingsAudio
        .device__settingsAudio--chapo
            span.device__settingsAudio--title Audio
            .device__settings--bar
        .device__settingsAudioContent
            .device__settingsAudioContent--vol
                .icon-no-sound
                p Volume
            .device__settingsAudioContent--music
                .icon-no-music
                p Musique
            .device__settingsAudioContent--vibrator
                .icon-no-vibration
                p Vibreur
    .device__settingsLanguage
        .device__settingsLanguage--chapo
            span.device__settingsLanguage--title Langue
            .device__settings--bar
        .device__settingsLanguageContent
            .device__settingsLanguageContent--vol
                .icon-no-sound
                p Français
            .device__settingsLanguageContent--music
                .icon-no-music
                p Anglais
    .device__settingsRestart
        .device__settingsRestart--btn
            .icon-restart
            p Recommencer l'expérience