.device__settingsHeader
    .device__settingsHeader--back.icon-left-arrow
    .device__settingsHeader--title
        p Réglages
.device__settingsContainer
    .device__settingsAudio
        .device__settingsAudio--chapo
            span.device__settingsAudio--title Audio
            .device__settings--bar
        .device__settingsAudioContent
            .device__settingsAudioContent--vol
                .icon-volume
                p Volume
                span
            .device__settingsAudioContent--music
                .icon-no-music
                p Musique
                span
            .device__settingsAudioContent--vibrator
                .icon-no-vibration
                p Vibreur
                span
    .device__settingsLanguage
        .device__settingsLanguage--chapo
            span.device__settingsLanguage--title Langue
            .device__settings--bar
        .device__settingsLanguageContent
            .device__settingsLanguageContent--vol
                div
                    img(src='assets/img/france.png')/
                p Français
            .device__settingsLanguageContent--music
                div
                    img(src='assets/img/united-kingdom.png')/
                p Anglais
    .device__settingsRestart
        .device__settingsRestart--btn
            .content
                a(href="#") Recommencer
                span