.device__solutionContent
    .device__solutionSection1
        p Sache que contre le cyber-harcèlement, des solutions existent.
    .device__solutionSection2
        img(src="assets/img/netecoute.png")
    .device__solutionSection3
        p La plateforme du gouvernement, te permet de te faire aider en les contactant par : 
    .device__solutionSection4
        .device__solutionBtn--msg
            .icon-
            p Messenger
        .device__solutionBtn--call
            .icon-
            p Appel
        .device__solutionBtn--chat
            .icon-
            p Chatbot
    .device__solutionSection5
        p Être témoin de cyber-harcèlement et se taire, c’est accepter et participer.
    .device__solutionSection6
        .device__solutionBtn--validate
            .content
                a(href="app.html") Démarrer la conversation
                span