@charset "UTF-8";

// Fonts
$main-font: 'Roboto', sans-serif;
$side-font: 'Amatic SC', cursive;


// Colors
$white: #ffffff;
$black: #36383E;
$grey: #e6ebf0;

$message: rgba(0, 0, 0, 0.87);
$message-hour: rgba(54, 56, 62, 0.42);
$answer: rgba(255, 255, 255, 0.87);
$setting: rgba(54, 56, 62, 0.7);
$main-color: #6054f6;
$main-color-hover: #6054f6;
$main-color-darker: #4C43C4;

// Box shadow
$box-shadow: 0 2px 6px 0 rgba(54, 56, 62, 0.12);

// Border
$border-answer : solid 1px rgba(54, 56, 62, 0.5);

// Bar 
$bar:  rgba(54, 56, 62, 0.3);

// Border radius
$border-radius: 40px;

// Transition
$easing: cubic-bezier(0.58, 0.01, 0.41, 1);
$transition: all 0.3s $easing;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$xs: 576px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1400px;

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;
$zindex-6: 25;
$zindex-7: 30;